// Typography
$base-font-family: -apple-system, Sans-Serif !default;
$base-font-size: 16px !default;

// Borders
$border-radius: 3px !default;

// Colors
$black: #000;
$white: #fff;
$gray-light: #eee;
$gray-medium: #aaa;
$gray-dark: #4a4a4a;