// Typography
$base-font-family: -apple-system, Sans-Serif !default;
$base-font-size: 16px !default;

// Borders
$border-radius: 3px !default;

// Colors
$black: #2a2a2a;
$white: #fbfcff;

$gradient-color-1: #11b7d9;
$gradient-color-2: #6c09c1;
$gradient-color-3: #f88752;