.site {
  @supports(display: grid) {
    display: grid;
    grid-template-columns: 100% repeat(12, [col] 1fr);
    grid-template-areas: "header"
                         "content"
                         "image"
                         "footer";

    @media (min-width: 600px) {
      grid-template-columns: 200px repeat(12, [col] 1fr);
      grid-template-areas: "header  image"
                           "content  image"
                           "footer  image";
    }

    &-header {
      grid-area: header;

      @media (min-width: 600px) {
        grid-column: span 200px;
      }
    }

    &-content {
      grid-area: content;
      grid-column: span 12;
    }

    &-image {
      grid-area: image;
      grid-column: span 12;
    }

    &-footer {
      grid-area: footer;
      grid-column: span 12;
    }
  }
}