.content-list {
  @supports(display: grid) {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(6, [col] 1fr);
    grid-template-rows: repeat(2, [row] auto);

    &__title {
      grid-column: col / span 6;
      grid-row: row;
    }

    @for $i from 1 through 5 {
      &__item:nth-of-type(#{$i}) {
        grid-column: col (1 * $i) / span 1;
        grid-row: row 2;
      }
    }

    &__button {
      grid-column: col 6 / span 1;
      grid-row: row 2;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}