{% extends "layout.nunjucks" %}

{% block page_title %}User Research, User Experience Design, and Front-End Development by Alex Wright{% endblock %}

{% block page_class %}site--homepage{% endblock %}

{% block site_content %}
  <p>I'm Alex Wright, designer and developer of digital interfaces at <a href="https://fiveq.com" target="_blank">Five Q</a>, working from my home in central New York.</p>
  <p>I have 10 years of experience working with non-profits and startups in strategy, optimization, and constructing their digital products and offerings through user-centric and data-driven design.</p>
  <p>I began my career as a Front-End Developer and made the progression to User Experience Designer, utilizing my knowledge of web technology to help guide the decisions and recommendations for all of my work.</p>
  <p>My motivation and drive comes from my Lord and Savior Jesus Christ, to whom I strive to use the talents and gifts that were given to me.</p>
  <p>I'm thankful for each of the ministries, non-profits, startups, and other organizations that I have had the privilege to work with over the last 10 years and assist them in their endeavors.</p>
  <p class="cta"><a class="button" href="/case-studies">See selected work from the last few years</a>.</p>
{% endblock %}

{% block site_image %}
  <img src="images/family.jpg" alt="My family and I">
{% endblock %}