.subscribe {
  @include padding(all, 2rem);

  background-color: $gray-light;

  &--full {
    @supports(display: grid) {
      grid-column: span 12;

      display: grid;
      grid-column-gap: 40px;
      grid-template-columns: repeat(12, [col] 1fr);
    }
  }

  &-copy {
    line-height: 1.6;
  }

  &-input {

  }

  @supports(display: grid) {
    &-copy {
      grid-column: col 1 / span 5;
    }
    &-input {
      grid-column: col 6 / span 5;
      align-self: center;
    }
    &-button {
      grid-column: col 11 / span 2;
      align-self: center;
    }
  }
}